# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
src/test/
ampl/40_10_10_c100x8.txt
ampl/40_10_10_c60x8.txt
ampl/40_10_10_c80x8.txt
ampl/40_20_10_c100.txt
